.car {
  position: relative;
  display: block;
  width: 700px;
  height: 250px;
  background-size: 700px;
  background-image: url(car.png);
  background-repeat: no-repeat;
}

.wheel {
  position: absolute;
  left: 74px;
  top: 110px;
  display: block;
  width: 115px;
  height: 115px;
  background-size: 115px;
  background-image: url(wheel.png);
  background-repeat: no-repeat;
  transition: all 250ms;
  /* animation: wheelRun 2s linear infinite normal; */
}
.wheel.wheel--last {
  left: 517px;
  top: 110px;
}

@keyframes wheelRun {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes wheelRunBackwards {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
